<div class="container comments">
  <h1><%= @post.title %>'s Comments</h1>

  <% if @comments.any? %>
    <div id="comments">
      <% @comments.each do |comment| %>
        <%= render partial: "comment", locals: { comment: comment, post: @post } %>
      <% end %>
    </div>
  <% else %>
    <p>No comments. Add one?</p>
  <% end %>

  <div id="comments-form-container">
    <%= render partial: "comment_form", locals: { comment: @comment, post: @post } %>
  </div>

  <%= link_to "Back To Topic", topic_posts_path(@topic), class: "btn btn-default" %>
</div>
